
<div data-controller="anime" class="flex items-start  justify-content-between"
><%= turbo_frame_tag "anime_results" do %>
    <div class="text-gray-400 p-4">Resultados aparecerão aqui...</div>
  <% end %>

  <div id="anime-embed" ></div>
</div>


